@model ProductSubCatagory

@{
    List<SubCatagory> amenities = (List<SubCatagory>)ViewData["amenities"];
}

<div class="container">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-2">Add amenities to the product</h4>
                    <form enctype="multipart/form-data" method="post" class="forms-sample">
                        <div class="form-group">
                            <label asp-for="SubCatagoryId">Amenities</label>
                            <select asp-for="SubCatagoryId" class="form-control form-control-lg">
                                @foreach (var amenity in amenities)
                                {
                                    <option value="@amenity.Id">@amenity.Name</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-success mr-2">Add</button>
                        <button asp-controller="product" asp-action="AddPropertyType" class="btn btn-outline-info">Next</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>