@model Location

<div class="container">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
           <div class="card">
              <div class="card-body">
                 <h4 class="card-title mb-2">Update - Location</h4>
                 <div asp-validation-summary="All" class="text-danger"></div>
                 <form method="post" class="forms-sample">
                    <div class="form-group">
                      <label asp-for="Country">Country</label>
                      <input asp-for="Country" class="form-control" placeholder="Country">
                    </div>
                    <div class="form-group">
                      <label asp-for="City">City</label>
                      <input asp-for="City" class="form-control" placeholder="City">
                    </div>
                    <button type="submit" class="btn btn-outline-success mr-2">Submit</button>
                    <button asp-controller="catagory" asp-action="index" class="btn btn-outline-dark">Cancel</button>
                 </form>
              </div>
           </div>
        </div>
    </div>
</div>