@model Service

<div class="container">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
           <div class="card">
              <div class="card-body">
                 <h4 class="card-title mb-2">Create - Service</h4>
                 <div asp-validation-summary="All" class="text-danger"></div>
                 <form enctype="multipart/form-data" method="post" class="forms-sample">
                    <div class="form-group">
                      <label asp-for="Title">Title</label>
                      <input asp-for="Title" class="form-control" placeholder="Title">
                    </div>
                    <div class="form-group">
                      <label asp-for="Description">Description</label>
                      <input asp-for="Description" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group">
                      <label asp-for="Content">Content</label>
                      <input asp-for="Content" class="form-control" placeholder="Content">
                    </div>
                    <div class="form-group">
                      <label asp-for="ImageFiles">Image</label>
                      <input accept="Image/*" asp-for="ImageFiles" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-outline-success mr-2">Submit</button>
                    <button asp-controller="service" asp-action="index" class="btn btn-outline-dark">Cancel</button>
                 </form>
              </div>
           </div>
        </div>
    </div>
</div>
